.main{
    display: flex;
    flex-direction: row;
}

.banner_login {
    background-image: url('../../public//assets/login-register.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-login form{
    width: 50%;
    border: 1px solid lightgray;
    padding: 15px;
}

.form-login form h2{
    text-align: center;
    margin-bottom: 45px;
}